/* main start */
.section1 {
    position: relative;
    z-index: -99;
    padding: 50px 0;
    overflow: hidden;
}

.visual1{
    max-width: none;
    width: 100%;
    height: 650px;
    background-image: url("../image/testpic2.png");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
    box-sizing: border-box;
}
.visual2{
    max-width: none;
    width: 100%;
    height: 650px;
    background-image: url("../image/testpic3.png"); 
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
    box-sizing: border-box;
}
.visual3{
    max-width: none;
    width: 100%;
    height: 650px;
    background-image: url("../image/testpic4.png"); 
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
    box-sizing: border-box;
}
.visual4{
    max-width: none;
    width: 100%;
    height: 650px;
    background-image: url("../image/testpic.jpg"); 
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
    box-sizing: border-box;
}
.visual5{
    max-width: none;
    width: 100%;
    height: 650px;
    background-image: url("../image/testpic7.png");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
    box-sizing: border-box;
}
.visual6{
    max-width: none;
    width: 100%;
    height: 650px;
    background-image: url("../image/testpic6.png");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
    box-sizing: border-box;
}  
.hotitem {
	color: #900020;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}
.item1 > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item1 p {
	color:  #900020;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.img1 {
    width: 200px;
    height: 200px;
}

.section4 {
    padding: 50px;
    margin-top: 50px;
    font-size: 0px;
}
.section4 ul > li {
    display: inline-block;
    width: 50%;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;   
}
.section4 .bannerimg{
    width: 100%;
    height: 200px;
    background-size: cover;
}
.section4 ul > li > a {
    display: block;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}
.section6 .item1 p{
    margin-bottom: 250px;
}
/* main end */

/* popup */
.scrollbanner{
    border-radius: 15px;
    position: absolute;
    width: 100px;
    height: 280px;
    top: 50%;
    left: 88%;
    background: white;
}
.scrollbanner ul{
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    padding-bottom: 20px;
}
.scrolltop {
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 30px;
}
.scrolldown {
    position: absolute;
    top: 65%;
    left: 35%;
    font-size: 30px;
}
.popup-wrap .popup{
    position: absolute;
    top: 50%; 
    left: 15%;
    transform: translate(-50%,-50%);
}
.btnclose{
    position: absolute;
    cursor: pointer;
    text-align: right;
    font-size:15px;
    width: 100%;
    bottom: -15px;
    right: 0;
    background: ivory;
    color: black;
}
.hidden{
    /* !important가 붙은 속성은 우선순위를 최상위로 높인다 */
    display: none !important;
}
/* popup */