/* 상품 리스트 페이지 start */
.search1{
    position: absolute;
    width: 2px;
    height: 2px;
    text-indent: -9999px;
    overflow: hidden;
    border: none;
}
.header5 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listselect{
    position: absolute;
    left: 31%;
    bottom: 1px;
}
.listselect > select{
    font-size: 20px;
}

.header5 .formdiv1{
    position: relative;
    left: 38%;
    margin-top: 6%;
}
.header5 .formdiv1 .btnSearch1{
    position: absolute;
    width: 100px;
    height: 26px;
    line-height: 26px;
    top: 0;
    left: 80%;
    background-color: #009539;
    color: azure;
}
.header5 .formdiv1 .textinput1{
    width: 250px;
    height: 26px;
    border: 1px solid black;
    padding-left: 10px;
    box-sizing: border-box;
    
}

.listitemtitle {
    color: #900020;
    margin-top: 80px;
    margin-bottom: 10%;
    text-align: center;
    font-size: 25px;
}
.listitem1 > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20%;
}
.listitem1 p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.listimg1 {
    width: 280px;
    height: 280px;
    border: 1px solid black;
}
/* 상품 리스트 페이지 end */